@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-BoldItalic.woff2') format('woff2'),
    url('../fonts/Karla-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Regular.woff2') format('woff2'),
    url('../fonts/Karla-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brada Sans';
  src: url('../fonts/BradaSansBold.woff2') format('woff2'),
    url('../fonts/BradaSansBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Bold.woff2') format('woff2'),
    url('../fonts/Karla-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Italic.woff2') format('woff2'),
    url('../fonts/Karla-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Brada Sans';
  src: url('../fonts/BradaSansLight.woff2') format('woff2'),
    url('../fonts/BradaSansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

$light-blue: #00acbc;
$blue: #3a83a6;
$yellow: #ebd878;
$white: #ffffff;
$orange: #e6bc70;
$green: #a2cc97;

.yellow {
  color: $yellow;
}

.white {
  color: $white;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.light-blue {
  color: $light-blue;
}

.blue {
  color: $blue;
}

.header {
  background-color: $light-blue;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-weight: bold;

  h3 {
    font-family: 'Brada Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
  }
}


.logo-image {
  height: 90px;
  width: 310px;

  img {
    height: 100%;
    width: 100%;
  }
}

.header-image {
  height: 300px;
  background-image: url("../img/rev3-bg.jpg");
  background-size: 100%;
  background-position: left bottom;
  background-repeat: repeat-x;
}

.footer-image {
  height: 300px;
  background-image: url("../img/rev3-bg2.jpg");
  background-size: 100%;
  background-position: left bottom;
  background-repeat: repeat-x;
}

@media screen and (max-width: 5120px) {
  .header-image {
    height: 400px;
    background-size: 30%;
  }

  .footer-image {
    height: 250px;
    background-size: 30%;
  }
}

@media screen and (max-width: 3840px) {
  .header-image {
    height: 500px;
    background-size: 50%;
  }

  .footer-image {
    height: 250px;
    background-size: 50%;
  }
}

@media screen and (max-width: 2560px) {
  .header-image {
    height: 400px;
  }

  .footer-image {
    height: 250px;
  }
}

@media screen and (max-width: 1920px) {
  .header-image {
    height: 250px;
  }

  .footer-image {
    height: 250px;
  }
}

@media screen and (max-width: 1680px) {
  .header-image {
    height: 220px;
  }

  .footer-image {
    height: 280px;
  }
}

@media screen and (max-width: 1536px) {
  .header-image {
    height: 300px;
    background-size: 75%;
  }

  .footer-image {
    height: 300px;
    background-size: 75%;
  }
}

@media screen and (max-width: 1366px) {
  .header-image {
    height: 280px;
    background-size: 80%;
  }

  .footer-image {
    height: 280px;
    background-size: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .header-image {
    height: 280px;
    background-size: 100%;
  }

  .footer-image {
    height: 250px;
  }
}

@media screen and (max-width: 991px) {
  .header-image {
    height: 250px;
  }

  .footer-image {
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .header-image {
    height: 200px;
  }

  .footer-image {
    height: 150px;
  }
}

@media screen and (max-width: 479px) {
  .header-image {
    height: 150px;
  }

  .footer-image {
    height: 85px;
  }
}

@media screen and (max-width: 360px) {
  .header-image {
    height: 100px;
  }

  .footer-image {
    height: 70px;
  }

  p {
    font-size: 15px;
  }

  h2 {
    display: flex;
  }

  .horizontal {
    height: 25px;
  }
}

.my-countdown {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 756px) {
  .my-countdown {
    font-size: 1rem;
  }
}

.link-text {
  line-height: 35px;
  font-size: 30px;
  font-weight: bold;
  font-stretch: expanded;
}

a span {
  display: block;
}

a:hover {
  background-color: $yellow;
}

.slash {
  position: relative;
}

.slash::before {
  content: "\002F";
  margin-right: 5px;
  position: absolute;
  left: -15px;
  top: -3px;
}

.horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal::after {
  content: "";
  height: 20px;
  width: 53px;
  background: url(../img/horizontal-dots.png) no-repeat;
  background-size: cover;
}

/* --------Parallax-------------*/

.container {
  max-width: 960px;
  margin: 0 auto;
}

section.section:last-child {
  margin-bottom: 0;
}

section.section.content {
  padding: 40px 0;
}

section.section.parallax {
  height: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.section.parallax-1 {
  background-image: url("../img/paralax1.jpg");
}

section.section.parallax-2 {
  background-image: url("../img/paralax2.jpg");
}

.vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical::before {
  content: "";
  height: 100px;
  width: 140px;
  background: url(../img/vertical-dots.png) no-repeat;
  background-size: 50px;
  position: absolute;
  top: 5px;
  left: -60px;
}

@media screen and (max-width: 1280px) {
  .vertical::before {
    height: 70px;
    width: 50px;
    background-size: 30px;
    top: 1px;
    left: -40px;
  }
}

@media screen and (max-width: 1200px) {
  .vertical::before {
    height: 70px;
    width: 30px;
    background-size: 30px;
    top: 2px;
    left: -40px;
  }
}

@media screen and (max-width: 992px) {
  .vertical::before {
    height: 60px;
    width: 50px;
    background-size: 30px;
    top: 5px;
    left: -35px;
  }
}

@media screen and (max-width: 786px) {
  .vertical::before {
    display: none;
  }

  .logo-image {
    height: 50px;
    width: 200px;
  }
}
